<div class="container text-sm" style="padding: 20px;">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h1 class="mb-0">All Users</h1>
    <%= link_to 'Export CSV', admin_root_path(format: :csv, page: params[:page]), class: "btn btn-outline-primary" %>
  </div>

  <% @users.each do |user| %>
    <div class="text-sm">
      <p><strong>Email:</strong> <%= user.email %></p>
      <p><strong>Parent Email:</strong> <%= user.parent&.email %></p>
      <p><strong>Total Deposit:</strong> <%= user.total_deposit %></p>
      <p><strong>Member Total Deposits:</strong> <%= total_member_deposit(user) %></p>
      <p><strong>Coins:</strong> <%= user.coins %></p>
      <p><strong>Total Used Coins:</strong> <%= user.tickets_count %></p>
      <p><strong>Children Members:</strong> <%= user.children_members %></p>
      <%= link_to "Operate balance", operate_balance_admin_orders_path(user), class: "btn btn-primary" %>
      <hr>
    </div>
  <% end %>
  <%= paginate @users %>
</div>


