<div class="container text-sm" style="padding: 20px;">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h1 class="mb-0">All Items</h1>
    <%= link_to 'Export CSV', admin_items_path(format: :csv, page: params[:page]), class: "btn btn-outline-primary" %>
  </div>

  <div>
    <table class="table">
      <thead>
      <tr>
        <th>Image</th>
        <th>Item Name</th>
        <th>Quantity</th>
        <th>Minimum Tickets</th>
        <th>State</th>
        <th>Batch Count</th>
        <th>Online at</th>
        <th>Offline at</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <% @items.each do |item| %>
        <tr>
          <td>
            <% if item.image&.present? %>
              <%= image_tag item.image.url, size: "100x100", style: "border-radius: 50%;" %>
            <% else %>
              <img src="https://placehold.co/100x100" alt="User Avatar" class="rounded-full mb-4"/>
            <% end %>
          </td>
          <td><%= item.name %></td>
          <td><%= item.quantity %></td>
          <td><%= item.minimum_tickets %></td>
          <td><%= item.state %></td>
          <td><%= item.batch_count %></td>
          <td><%= item.online_at %></td>
          <td><%= item.offline_at %></td>
          <td>
            <% if current_admin_user.admin? %>
              <div class="d-flex">
                <div class="mr-2">
                  <% if item.may_start? %>
                    <%= button_to 'Start', start_admin_item_path(item), class: 'btn btn-outline-success', method: :post %>
                  <% end %>
                </div>
                <div class="mr-2">
                  <% if item.may_pause? %>
                    <%= button_to 'Pause', pause_admin_item_path(item), class: 'btn btn-outline-danger', method: :post %>
                  <% end %>
                </div>
                <div class="mr-2">
                  <% if item.may_end? %>
                    <%= button_to 'End', end_admin_item_path(item), class: 'btn btn-outline-danger', method: :post %>
                  <% end %>
                </div>
                <div class="mr-2">
                  <% if item.may_cancel? %>
                    <%= button_to 'Cancel', cancel_admin_item_path(item), class: 'btn btn-outline-danger', method: :post %>
                  <% end %>
                </div>
              </div>
              <div class="d-flex flex-column">
                <div class="d-flex">
                  <div class="mr-2">
                    <%= link_to 'Edit', edit_admin_item_path(item), class: 'btn btn-primary btn-sm w-100 mb-2' %>
                  </div>
                  <div>
                    <%= button_to 'Delete', admin_item_path(item), method: :delete, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger w-100" %>
                  </div>
                </div>
              </div>
            <% else %>
              <%= "User not signed in or not an admin" %>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <%= paginate @items %>
    <div class="pt-4">
      <%= link_to 'Add New Item', new_admin_item_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>
