<div class="container text-sm" style="padding: 20px;">
  <h1>All Items</h1>
  <div>
    <table class="table">
      <thead>
      <tr>
        <th>Image</th>
        <th>Status</th>
        <th>Online at</th>
        <th>Offline at</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <% @banners.each do |banner| %>
        <tr>
          <td>
            <% if banner.preview.present? %>
              <%= image_tag banner.preview.url, size: "100x100" %>
            <% else %>
              <img src="https://placehold.co/100x100" alt="User Avatar" class="rounded-full mb-4"/>
            <% end %>
          </td>
          <td><%= banner.status %></td>
          <td><%= banner.online_at.strftime("%B %d, %Y %I:%M %p") %></td>
          <td><%= banner.offline_at.strftime("%B %d, %Y %I:%M %p") %></td>
          <td>
            <div class="d-flex flex-column">
              <div class="d-flex">
                <div class="mr-2">
                  <%= link_to 'Edit', edit_admin_banner_path(banner), class: 'btn btn-primary btn-sm w-100 mb-2' %>
                </div>
                <div>
                  <%= button_to 'Delete', admin_banner_path(banner), method: :delete, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger w-100" %>
                </div>
              </div>
            </div>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="pt-4">
    <%= link_to 'Add New Banner', new_admin_banner_path, class: 'btn btn-primary' %>
  </div>
</div>
