<%= render partial: 'header' %>

<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
  <% if @orders.present? %>
    <div class="space-y-6">
      <% @orders.each do |order| %>
        <div class="border p-6 rounded-lg shadow-sm bg-white">
          <div class="text-sm mb-2"><span class="font-bold">Name: </span><%= order.offer.name %></div>
          <div class="text-sm mb-2"><span class="font-bold">Coin: </span><%= order.coin %></div>
          <div class="text-sm mb-2"><span class="font-bold">Amount: </span><%= order.amount %></div>
          <div class="text-sm mb-2"><span class="font-bold">Serial Number: </span><%= order.serial_number %></div>
          <div class="text-sm mb-2"><span class="font-bold">Created At: </span><%= order.created_at %></div>
          <div class="text-sm mb-2"><span class="font-bold">Status: </span><%= order.state %></div>
        </div>
      <% end %>
      <div class="flex justify-center">
        <%= paginate @orders %>
      </div>
      <div class="text-center text-gray-700 py-4 text-sm font-medium">
        Total orders made: <%= @orders.total_count %>
      </div>
    </div>
  <% else %>
    <div class="text-center text-gray-500 py-4">No orders found.</div>
  <% end %>
</div>