<%= render partial: 'header' %>

<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
  <% if @winners.present? %>
    <div class="space-y-6">
      <% @winners.each do |winner| %>
        <div class="border p-3 rounded-lg shadow-sm bg-white flex justify-between items-center">
          <div>
            <div class="text-sm mb-2"><span class="font-bold">Item Name: </span><%= winner.item.name %></div>
            <div class="text-sm mb-2"><span class="font-bold">Serial Number: </span><%= winner.ticket.serial_number %>
            </div>
            <div class="text-sm mb-2"><span class="font-bold">Created At: </span><%= winner.created_at %></div>
            <div class="text-sm mb-2"><span class="font-bold">Status: </span><%= winner.state %></div>
          </div>
          <% if winner.may_claim? %>
            <div>
              <%= link_to 'Claim', client_profile_claim_path(winner), class: "bg-green-500 text-white py-2 px-4 rounded hover:bg-green-600 no-underline" %>
            </div>
          <% end %>
          <% if winner.may_share? %>
            <div>
              <%= link_to 'Share', client_profile_share_path(winner), class: "bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 no-underline" %>
            </div>
          <% end %>
        </div>
      <% end %>
      <div class="flex justify-center">
        <%= paginate @winners %>
      </div>
      <div class="text-center text-gray-700 py-4 text-sm font-medium">
        Total winning tickets: <%= @winners.total_count %>
      </div>
    </div>
  <% else %>
    <div class="text-center text-gray-500 py-4">No lottery tickets found.</div>
  <% end %>
</div>
