<div class="container-md p-5">
  <%= render 'header' %>
  <div class="border-1 max-w-xl pb-4">
    <div class="p-5">
      <h1>Member Level Order</h1>
      <%= form_with model: @order, url: create_member_level_admin_orders_path(client_id: @client.id), method: :post, id: 'order-form' do |form| %>
        <div class="pt-2">
          <div style="margin-bottom: 5px;">
            <%= form.label :coin, 'Coins:', style: "font-weight: bold;" %>
          </div>
          <div style="margin-bottom: 10px;">
            <%= form.number_field :coin, style: "width: 100px; padding: 5px; border-radius: 3px; border: 1px solid #ccc;", min: 1, required: true %>
          </div>
        </div>
        <div class="pt-2">
          <%= form.submit 'Submit', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>