<div class="container-md p-5">
<%= form_for(@winner, url: client_profile_share_path(@winner), method: :patch, html: { multipart: true }) do |f| %>
  <div class="form-group pb-3">
    <%= f.label :picture, 'Image' %>
    <%= f.file_field :picture, class: "form-control" %>
  </div>

  <div class="form-group pb-3">
    <%= f.label :comment, "Message" %>
    <%= f.text_area :comment, class: "form-control", rows: 5 %>
  </div>

  <div class="form-group">
    <%= f.submit "Share", class: "btn btn-primary" %>
  </div>
<% end %>
</div>
