<!DOCTYPE html>
<html>
<head>
  <title>Admin</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
</head>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<body>
<header class="flex justify-between items-center border-b-2 py-4">
  <div class="flex items-center space-x-4">
    <img src="https://placehold.co/100x50" alt="Brand Image" class="border">
  </div>
</header>
<%= yield %>
</body>
</html>
